.logo-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  img {
    width: 140px;
    height: 40px;
  }
}
.room-web {
  .chat-ui {
    .tab-content {
      display: block;
    }
  }
}
.chat-box {
  background-color: rgba(255,255,255,1.00);
  transition: all 300ms ease 0s;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 20px;
  .chat-item {
    min-width: 350px;
    max-width: 400px;
    max-height: 500px;
    width: 400px;
    height: 80vh;
    margin-right: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    &-collapse {
      height: 53px;
      transition: all 300ms ease 0s;
      .collapse-logo {
        transform: rotate(180deg);
      }
    }
    .top-info {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .title {
      line-height: 24px;
      font-size: 20px;
      color: rgb(15, 20, 25);
      font-weight: 700;
      font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    }
  }
}
.collapse-logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.collapse-chat {
  transition: all 300ms ease 0s;
  height: 53px;
}
.info-container {
  display: flex;
  padding: 16px;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgb(249, 249, 249);
  }
  .name {
    font-size: 14px;
    color: rgb(15, 20, 25);
    font-weight: 700;
    margin-left: 12px;
  }
  img {
    width: 48px;
    height: 48px;
    box-shadow: rgb(255 255 255 / 3%) 0px 0px 2px inset;
  }
}